ul,
ol {
	margin: ms(2) 0;
	color: color(gray);

	li {
		margin-bottom: ms(0);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.flush-list {
	display: table;
	padding-left: 0;
	list-style: none;

	li {
		display: table-row;
		margin-bottom: 0;

		&:before {
			display: table-cell;
			padding-right: ms(-2);
			color: color(gray, 2);
			content: '•';
			font-size: ms(1);
		}

		&:after {
			content: ' ';
			display: block;
			margin-bottom: ms(0);
		}
	}
}

.link-list {
	padding-left: 0;
	list-style-type: none;

	li {
		margin-bottom: ms(-1);
	}
}

.piped-list {
	@include clearfix;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0;
	margin: 0;

	li {
		display: inline-block;
		margin-bottom: 0;
		color: color(blue, 1);
		padding: 0 ms(-2);
		position: relative;
		border-right: 1px solid color(grey, 1);

		&:last-child {
			border-right: 0;
		}
	}
}


.feature-list {
	padding-left: 0;
	margin: 0;
	list-style-type: none;

	li {
		margin-bottom: ms(0);
		display: inline-block;
		vertical-align: top;
		width: percentage(1/2) - 1%;
		padding: ms(-2) ms(-2) ms(-2) ms(2);
		position: relative;

		@include breakpoint($bp-m) {
			width: percentage(1/3) - 1%;
		}

		@include breakpoint($bp-l) {
			width: percentage(1/4) - 1%;
		}

		.icon {
			top: ms(-2);
			left: 0;
			position: absolute;
		}

		> span {
			vertical-align: middle;
		}
	}
}


.number-bullet {
	font-size: ms(-1);
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	height: ms(3);
	padding-top: 0.7em;
	width: ms(3);
	line-height: 1;
	background-color: color(blue, 1);
	border-radius: 50%;
	color: color(white);
	margin-top: -(ms(-6));
	margin-right: ms(-2);
}

.autocomplete {
	@include z-2;
	@include shadowbox;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: color(white);
	width: 100%;
	top: calc(100% + #{ms(-4)});
	padding-top: ms(-2);
	padding-bottom: ms(-2);

	@include breakpoint($bp-l) {
		width: calc(100% - #{ms(0)});
	}

	> li {
		position: relative;
		margin-bottom: 0;

		&:hover {
			background-color: color(green, 1);

			> a {
				color: color(white);
			}

			> .icon {
				use {
					fill: color(white);
				}
			}
		}

		> a {
			padding: ms(-1) ms(-1) ms(-1) ms(4);
			display: block;
			text-decoration: none;
			color: color(black);
		}

		> .icon {
			position: absolute;
			left: ms(0);
			top: 1.45em;
		}
	}


	input + & {
		position: absolute;
		display: none;
	}
 }


.legend-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: color(gray);
	max-width: ms(11);

	&__box {
		display: inline-block;
		vertical-align: middle;
		height: ms(0);
		width: ms(0);
		margin-top: -4px;
		margin-right: ms(-2);
	}

	&__value {
		font-weight: 700;
		color: color(black);
		float: right;
	}
}
