@mixin table($compressed: false, $bp-table: $bp-m) {
	border: 1px solid color(gray, 2);
	width: 100%;

	thead {
		display: none;

		@include breakpoint($bp-table) {
			display: table-header-group;
		}
	}

	.table__row,
	tr {
		display: block;
		background-color: color(white);

		&:not(:first-child) {
			border-top: 1px solid color(gray, 2);
		}

		@include breakpoint($bp-table) {
			margin-bottom: 0;
			padding: 0;
			display: table-row;
			border: 0;
		}
	}

	.table__heading,
	th {
		@include breakpoint($bp-table) {
			@include wide-kerning;
			padding: if($compressed, ms(-1) ms(1), ms(-1) ms(2));
			text-transform: uppercase;
			font-weight: 400;
			background-color: color(gray, 3);
			color: color(gray);
			text-align: left;
			border-bottom: if($compressed, 0, 1px solid color(grey, 2));
			font-size: .9em;

			&:not(:last-child) {
				border-right: if($compressed, 0, 1px solid color(grey, 2));
			}
		}
	}

	.table__cell,
	td {
		display: block;
		text-align: right;
		border-bottom: if($compressed, 0, 1px solid color(grey, 3));
		padding: ms(0);
		position: relative;

		@include breakpoint($bp-table) {
			display: table-cell;
			text-align: left;
			padding: if($compressed, ms(0) ms(1), ms(0) ms(2));
			border-bottom: if($compressed, 0, 1px solid color(grey, 2));

			&:not(:last-child) {
				border-right: if($compressed, 0, 1px solid color(grey, 2));
			}
		}

		&:first-child {
			background-color: color(gray, 3);
			color: color(black);
			text-align: left;
			border-bottom: if($compressed, 0, 1px solid color(grey, 2));

			@include breakpoint($bp-table) {
				background-color: transparent;
			}

			&:before {
				display: block;
				float: none;
				margin-bottom: ms(-1);
			}
		}

		&:last-child {
			border-bottom: 0;

			@include breakpoint($bp-table) {
				border-bottom: if($compressed, 0, 1px solid color(grey, 2));
			}
		}

		&:before {
			@include wide-kerning;
			@include fz-s;
			content: attr(data-label);
			float: left;
			margin-top: ms(-7);
			margin-right: ms(1);
			text-transform: uppercase;
			color: color(grey);

			@include breakpoint($bp-table) {
				display: none !important;
			}
		}

		&.ta-c {
			text-align: right !important;

			@include breakpoint($bp-table) {
				text-align: center !important;
			}
		}
	}

	.table-cta {
		text-align: center;

		@include breakpoint($bp-table) {
			text-align: right;
		}

		a {
			display: block;
		}
	}
}

.table {
	@include table;

	&-compress {
		@include table(true);
	}

	&-overload {
		@include table(true, $bp-l);
	}

	.callout-row {
		td {
			text-align: center;
			background-color: color(blue);
			padding: ms(1);

			&:before {
				display: none;
			}

			p {
				color: color(white);
				margin-top: 0;

				@include breakpoint($bp-m) {
					float: left;
					width: 60%;
					text-align: left;
					margin-bottom: 0;
				}
			}

			.button {
				@include breakpoint($bp-m) {
					float: right;
				}
			}
		}
	}
}

.table--fixed {
	table-layout: fixed;
}

.simple-table {
	border: 0;
	table-layout: fixed;
	width: 100%;

	@include breakpoint($bp-m) {
		table-layout: auto;
	}

	tr {
		&:last-child {
			td {
				padding-bottom: 0;
			}
		}

		td {
			padding-right: ms(2);
			padding-bottom: ms(-2);

			&:last-child {
				padding-right: 0;
				text-align: right;
			}
		}
	}

}
