.validation-checklist {
	@include fz-s;
	list-style-type: none;
	padding: ms(1);
	margin: 0;
	background-color: color(black);
	color: color(white);

	.form-control + & {
		display: none;
	}

	.form-control:focus + & {
		display: block;
	}

	&__heading {
		font-weight: 700;
		padding-left: ms(2);
		margin-left: ms(-5);
	}

	&__item {
		padding: ms(-4) 0 0 ms(3);
		position: relative;
	}

	.icon {
		position: absolute;
		left: 0;
		top: ms(-6);

		use {
			fill: color(black, 1);
		}
	}
}
