<div class="measure pl pr ml-a mr-a">
	<h1>The old river in its broad reach</h1>

	<p>Land in a swamp, march through the woods, and in some inland post feel the savagery, the utter savagery, had closed round him&mdash;all that mysterious life of the wilderness that stirs in the forest, in the jungles, in the hearts of wild men. There&rsquo;s no initiation either into such mysteries. He has to live in the midst of the incomprehensible, which is also detestable. And it has a fascination, too, that goes to work upon him. The fascination of the abomination&mdash;you know, imagine the growing regrets, the longing to escape, the powerless disgust, the surrender, the hate.</p>

	<p>Anything approaching the change that came over his features I have never seen before, and hope never to see again. Oh, I wasn&rsquo;t touched. I was fascinated. It was as though a veil had been rent. I saw on that ivory face the expression of sombre pride, of ruthless power, of craven terror&mdash;of an intense and hopeless despair.</p>

	<h2>Forthwith a change came over the waters</h2>

	<p>Land in a swamp, march through the woods, and in some inland post feel the savagery, the utter savagery, had closed round him&mdash;all that mysterious life of the wilderness that stirs in the forest, in the jungles, in the hearts of wild men. There&rsquo;s no initiation either into such mysteries. He has to live in the midst of the incomprehensible, which is also detestable. And it has a fascination, too, that goes to work upon him. The fascination of the abomination&mdash;you know, imagine the growing regrets, the longing to escape, the powerless disgust, the surrender, the hate.</p>

	<p>Anything approaching the change that came over his features I have never seen before, and hope never to see again. Oh, I wasn&rsquo;t touched. I was fascinated. It was as though a veil had been rent. I saw on that ivory face the expression of sombre pride, of ruthless power, of craven terror&mdash;of an intense and hopeless despair.</p>

	

	<h3>Hunters for gold or pursuers of fame</h3>

	<p>Land in a swamp, march through the woods, and in some inland post feel the savagery, the utter savagery, had closed round him&mdash;all that mysterious life of the wilderness that stirs in the forest, in the jungles, in the hearts of wild men. There&rsquo;s no initiation either into such mysteries. He has to live in the midst of the incomprehensible, which is also detestable. And it has a fascination, too, that goes to work upon him. The fascination of the abomination&mdash;you know, imagine the growing regrets, the longing to escape, the powerless disgust, the surrender, the hate.</p>



	<p>Anything approaching the change that came over his features I have never seen before, and hope never to see again. Oh, I wasn&rsquo;t touched. I was fascinated. It was as though a veil had been rent. I saw on that ivory face the expression of sombre pride, of ruthless power, of craven terror&mdash;of an intense and hopeless despair.</p>

	<h4 class="kern">They had been talking about Kurtz</h4>

	<p>Land in a swamp, march through the woods, and in some inland post feel the savagery, the utter savagery, had closed round him&mdash;all that mysterious life of the wilderness that stirs in the forest, in the jungles, in the hearts of wild men. There&rsquo;s no initiation either into such mysteries. He has to live in the midst of the incomprehensible, which is also detestable. And it has a fascination, too, that goes to work upon him. The fascination of the abomination&mdash;you know, imagine the growing regrets, the longing to escape, the powerless disgust, the surrender, the hate.</p>

	<p>Anything approaching the change that came over his features I have never seen before, and hope never to see again. Oh, I wasn&rsquo;t touched. I was fascinated. It was as though a veil had been rent. I saw on that ivory face the expression of sombre pride, of ruthless power, of craven terror&mdash;of an intense and hopeless despair.</p>

	<h5>It was a distinct glimpse</h5>

	<p>Land in a swamp, march through the woods, and in some inland post feel the savagery, the utter savagery, had closed round him&mdash;all that mysterious life of the wilderness that stirs in the forest, in the jungles, in the hearts of wild men. There&rsquo;s no initiation either into such mysteries. He has to live in the midst of the incomprehensible, which is also detestable. And it has a fascination, too, that goes to work upon him. The fascination of the abomination&mdash;you know, imagine the growing regrets, the longing to escape, the powerless disgust, the surrender, the hate.</p>

	<p>Anything approaching the change that came over his features I have never seen before, and hope never to see again. Oh, I wasn&rsquo;t touched. I was fascinated. It was as though a veil had been rent. I saw on that ivory face the expression of sombre pride, of ruthless power, of craven terror&mdash;of an intense and hopeless despair.</p>

	<h1>Heading Level 1</h1>
	<h2>Heading Level 2</h2>
	<h3>Heading Level 3</h3>
	<h4>Heading Level 4</h4>
	<h5>Heading Level 5</h5>
	<h6>Heading Level 6</h6>

</div>
